{% extends "base.html" %}
    {%block title%} 
    Contatos {%endblock%}
    {%block DDD %}
    <h1>Entre em contato</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis culpa beatae temporibus, quam quo illum?</p>
    <hr>
    <form method="post" action="/contatos">
        Seu e-mail:<br>
        <input type="text" name="e-mail" size="25"><br>
        Assunto:<br>
        <input type="text" name="Assunto:" size="25"><br>
        Descrição:<br>
        <textarea cols="20" rows="3"></textarea><br>
         
        <input type="submit" value="Enviar">
        </form><br>
    {%endblock%}