{% extends "base.html" %}
    {%block title%} 
    Contatos {%endblock%}
    {%block DDD %}
    <h1>Entre em contato</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis culpa beatae temporibus, quam quo illum?</p>
    <hr>
    <form action = '/contatos' method="post">
        Seu e-mail:<br>
        <input type="email" maxlength="60" name="email" size="25" id="email"><br>
        Assunto:<br>
        <input type="text" maxlength="60" name="assunto" size="25" id="assunto"><br>
        Descrição:<br>
        <textarea cols="20" rows="3" maxlength="200" name="descricao" id="descricao"></textarea><br>
         
        <input type="submit" value="Enviar">
        </form><br>
    {%endblock%}