<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="static/css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <body background="imagens/fundo2.png"></body>

</head>
<body>
    <div class="logo">
    <img src="static/imagens/logo.png" alt="logo">
    </div>
    <div class="links">
    <a href="home.html">Home |</a> 
    <a href="quem_.html">Quem Somos |</a>
    <a href="contato.html">Contato</a>
    </div>
    <h1>Entre em contato</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis culpa beatae temporibus, quam quo illum?</p>
    <hr>
    <form>
        Seu e-mail:<br>
        <input type="text" name="e-mail" size="25"><br>
        Assunto:<br>
        <input type="text" name="Assunto:" size="25"><br>
        Descrição:<br>
        <textarea cols="20" rows="3"></textarea><br>
         
        <input type="submit" value="Enviar">
        </form><br>
    <h4>Todos os direitos reservados</h4>
</body>
</html>