<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="static/css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <body background="imagens/fundo.png"></body>
</head>
<body>
    <div class="logo">
    <img src="static/imagens/logo.png" alt="logo"></div>
    <div class="links">
    <a href="home.html" id="ho">Home |</a> 
    <a href="quem.html" id="qe">Quem Somos |</a>
    <a href="contato.html" id="co">Contato</a><br>
    </div>
    <div class="capa">
    <img src="imagens/capa.png" alt="capa"></div>
    <h2>Sobre a universidade</h2><br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis numquam quo velit delectus dolore tenetur doloribus incidunt expedita, ab ipsam eaque praesentium cum earum quod ducimus veritatis aliquam quasi distinctio. Maxime nostrum molestiae consectetur dolores, tempora, ratione nesciunt vitae consequatur, eveniet voluptatibus voluptatem! Perferendis sapiente, impedit, expedita qui aliquid repellat similique commodi autem veritatis dolorem harum eius magni animi deserunt molestias? Facere minima ea minus. Magni iste ullam at dolorem, incidunt, itaque doloremque eaque possimus quos laborum minus, nam consequuntur maxime obcaecati veritatis ut consectetur rem voluptatum repellendus unde ea eum. Quos laboriosam fugiat ut unde provident voluptate, officia magni temporibus aliquam totam non hic, possimus reiciendis perspiciatis at odio nisi neque quasi error maxime, ducimus asperiores quod nemo recusandae.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam similique, odit, quidem rerum ipsa sed eos itaque quaerat libero, rem nobis delectus commodi fugiat quos officia! Quos natus repellat magni eos obcaecati nesciunt expedita, laudantium voluptas iste, dicta quod eaque doloribus animi quis? Modi ipsa consequatur dicta in pariatur laudantium commodi nisi repellendus debitis. Enim minima molestias voluptatum distinctio tenetur perferendis autem consectetur quis tempore, repellendus optio, qui, iste nam iusto eveniet magni corporis ad. Pariatur debitis optio ipsum laudantium ipsa dignissimos dolorum vitae nobis sapiente quos animi magni accusamus, ad, aliquid quam suscipit possimus, itaque voluptas modi. Nam, rerum? Consequatur odit excepturi vero libero ipsa odio quaerat magnam eius voluptas, temporibus perferendis cupiditate sed in delectus ut laudantium enim ad dolor corporis. Itaque assumenda repellat autem.</p><br>
    <h4><b>Todos os direitos reservados</b></h4>

</body>
</html>