<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="static/css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <body background="imagens/fundo2.png"></body>
</head>
<body>
    <div class="logo">
    <img src="static/imagens/logo.png" alt="logo">
    </div>
    <div class="links">
    <a href="home.html">Home |</a> 
    <a href="quem.html">Quem Somos |</a>
    <a href="contato.html">Contato</a>
    </div>
    <h1>Quem Somos</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, in blanditiis harum porro quo voluptatibus nostrum asperiores ut repudiandae ad. Molestias ex libero ut, ducimus fugiat dicta cumque rerum laborum voluptas ipsa dignissimos, deleniti dolorem blanditiis, consequatur voluptate nesciunt exercitationem debitis soluta. Voluptas aliquid quasi vero voluptate placeat incidunt eius repudiandae possimus quos voluptatem quo soluta, consequuntur harum sapiente quae laboriosam facilis beatae porro eveniet illum libero necessitatibus veritatis accusamus. Optio tempora aspernatur, accusantium ratione sed nesciunt quis at quo? Eum modi dolores temporibus autem dignissimos eaque est provident tempora tenetur odit tempore quibusdam dicta beatae quae atque, sed voluptates nulla ad exercitationem deleniti optio enim quis ipsum maiores.</P>
    <h1>5 Motivos para estdar</h1>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
       <hr>
    <h1>Objetivos</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia ipsam praesentium assumenda possimus adipisci consectetur porro magnam aperiam necessitatibus nostrum itaque inventore, sequi corrupti eligendi similique non enim qui optio sint quae voluptatibus nam asperiores vero alias? Ab repellat ut, nemo soluta asperiores dicta corporis vel minus adipisci reiciendis perspiciatis veritatis quisquam expedita neque, officiis velit officia eos culpa excepturi fugiat earum atque voluptate? Quibusdam, sequi eum error sed maiores molestiae deleniti! Facilis ducimus qui temporibus pariatur distinctio perspiciatis assumenda culpa natus autem? Accusantium quia alias debitis pariatur vero cupiditate laborum soluta! A facilis cumque animi eligendi dolore eos ipsum neque ducimus. Accusantium soluta repellat laboriosam nisi.</p><br>
    <h4><b>Todos os direitos reservados</b></h4>

</body>
</html>